body {
    font-family:"Lucida Console", Monaco, monospace;
    background: #222;
    margin:1 1px;
    max-width:98%;
    line-height: 1.11px;
    font-size:18px;
    padding:7 13px;
}







